<h1>Add a Technology to DigiBelt!</h1>

<%= form_for @tech do |f| %>
  <%= f.label "Tech Name: " %>
  <%= f.text_field :name %> <br>
  <%= f. label "Description: " %>
  <%= f.text_field :description %> <br>
  <%= f. label "Category: " %>
  <%= f.text_field :category %> <br>
  <%= f. label "Dependencies: " %>
  <%= f.text_field :dependencies %> <br>
  <%= f.submit "Create Tech!" %>
<% end %>
