<h1>Fill out our form!</h1>

<%= form_for @project do |f| %>
What would you like to name your project?
<%= f.label :name %>
<%= f.text_field :name %>
<hr>
Please choose what kind of base language you'd like to write in:
<%= f.collection_select :language_id, @languages, :id, :name %>
<hr>
Does your project need to persist data?
  <%= f.radio_button :database, true, :checked => false %>
  <%= f.label :database_bool, 'Yes' %>
  <%= f.radio_button :database, false, :checked => false %>
  <%= f.label :database_bool, 'No' %>
  <hr>
<%= f.submit "Here are my answers!" %>
<% end %>
<br>
<%= button_to 'Back Home', welcome_path, method: 'get' %>
